<div [class]="uiState" [class.disabled]="valueChangedHookDirective.disabled">
  <label *ngIf="!hideLabel" class="ivu-label-v1">{{ label
    }}</label>
  <div class="relative mt-0">
    <ng-content select="input"></ng-content>
    <div *ngIf="showClearIcon" (click)="valueChangedHookDirective.clearContent()" class="ivu-clear-icon">
      X
    </div>

    <span *ngIf="showTextCounter" class="ivu-text-counter ">{{ textCounter }}</span>
  </div>
  <p *ngIf="validationMessage" class="ivu-validation-message">
    {{ validationMessage }}
  </p>
</div>
